---
pagination:
  data: datasets
  size: 1
  alias: dataset
  addAllPagesToCollections: true
tags: datasetPages

permalink: "{{ dataset.id }}"

layout: layout.njk
---
<p>
  Dataset: {{ dataset.id }} {{ dataset.description }}
</p>
<pre>
  {{ dataset | dump(2) }}
</pre>