---
title: Eurostat explorer
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav aria-labelledby="navigation">
      <h2 id="navigation">Navigation</h2>
      {% set navPages = collections.datasetPages | get("data") %}
      <ul>
        {%- for entry in navPages %}
          <li {% if entry.page.url == page.url %} aria-current="page" {% endif %}>
            <a href="{{ entry.page.url }}">{{ entry.dataset }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>