---
title: Eurostat explorer
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css">
    <script src="/scripts/dataset-nav.js" defer></script>
  </head>
  <body>
    <!-- Main navigation. -->
    <dataset-nav></dataset-nav>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>