---
layout: base.html
title: Eurostat Explorer
---

<dl class="flex flex-row flex-wrap gap-4 justify-evenly">
  {% for dp in collections.datasetPages %}
  <a
    href="{{ dp.data.page.url }}"
    class="card w-96 bg-base-100 rounded-lg shadow-xl hover:drop-shadow-lg"
  >
    <div class="card-body pb-0 min-h-[10em] flex-none">
      <dt class="card-title opacity-80">{{ dp.data.dataset.code }}</dt>
      <dd>{{ dp.data.dataset.title }}</dd>
    </div>
    <div class="divider"></div>
    <div class="pb-4 px-8 text-sm leading-7">
      <ul class="carousel w-full">
        <!-- First item - a list of dimensions. -->
        <li class="carousel-item w-full flex flex-col">
          <p class="my-1 text-base-content opacity-75">Dimensions</p>
          <ul class="w-full">
            {% for dim in dp.data.dataset.dimensions %}
            <li class="w-5/6 truncate">{{ dim.description }}</li>
            {% endfor %}
          </ul>
        </li>
        <!-- Remaining items - dimensions with a subset of their categories. -->
        {% for dim in dp.data.dataset.dimensions %}
        <li class="carousel-item w-full flex flex-col">
          <p class="my-1 text-base-content opacity-75">{{ dim.description }}</p>
          <ul class="w-full">
            {% for cat in dim.positions | batch(5) | first %}
            <li class="w-5/6 truncate">{{ cat.description }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </a>
  {% endfor %}
</dl>
