@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font:
    1rem/1.75 Lato,
    Helvetica,
    sans-serif;

  /**
   * Some browsers ignore this setting.
   * Use the default color, because a bright, wide scrollbar looks terrible.
   */
  scrollbar-width: thin;
}

/**
 * Dataset visualizations are displayed lazily.
 * JS should remove the `pending` attribute when an element becomes visible.
 */
dataset-viz[pending] > * {
  display: none;
}

/**
 * Search feature works by hiding elements that don't match the query.
 * To decouple CSS from JS, JS only sets the attribute, not touching the CSS directly.
 */
.dataset-item[search-hidden] {
  display: none;
}

/**
 * Display at most N elements at once.
 * No point rendering 7k datasets. Ain't nobody gonna read that.
 */
.dataset-list > .dataset-item:nth-child(-n + 100 of :not([search-hidden])) {
  display: unset;
}

/**
 * All other items are hidden.
 */
.dataset-list > .dataset-item {
  display: none;
}
