/* Clear default sizing quirks. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Fill the whole page. */
  height: 100vh;
  width: 100%;

  /* Center the content, limit width. */
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;

  /* Leave a gap near all edges. */
  padding: 0.5em;

  /* Divide the page vertically. */
  display: flex;
  flex-direction: row;
  gap: 2em;

  /* Font. */
  line-height: 1.25;
}

/* Links decoration. */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  height: 100%;
  /* Make items a bit more spread out. */
  line-height: 1.5;
  font-size: 0.85em;
}

main {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

dataset-display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

dataset-display > .sections-container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

main-nav {
  width: 16em;
  flex: none;
}

dataset-nav {
  width: 16em;
  flex: none;
}

.scroll {
  overflow: scroll;
  /* Space for the scrollbar. */
  padding-right: 1em;
}
