<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <base href="{{ '/' | url }}" />
    <link rel="stylesheet" href="/styles.css" />
    <script type="module" src="/app.js"></script>
  </head>

  <body class="overflow-hidden w-screen h-screen flex flex-col">
    <nav class="navbar border-b-2 flex-none">
      <div class="navbar-start w-1/3">
        <a
          class="btn btn-ghost normal-case text-base-content opacity-75"
          href="/"
          >eurostat explorer</a
        >
      </div>
      <div class="navbar-center w-1/3">
        {% block navbar_center %}{% endblock %}
      </div>
      <div class="navbar-end w-1/3"></div>
    </nav>
    <!-- Main takes the whole width and handles overflow. The scroll will be on the right edge of the screen. -->
    <main class="px-8 py-2 w-full overflow-y-auto flex-1">
      {{ content | safe }}
    </main>
  </body>
</html>
